name: PR

on:
  pull_request:
    branches: [ "master" ]
    paths:
      - 'src/**'
      - 'Cargo.*'

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    uses: niveK77pur/lilypond-midi-input/blob/master/.github/workflows/check.yml@master
