name: Release

on:
  workflow_run:
    workflows: [Rust]
    types: [completed]
    branches: [ "master" ]

# TODO: get version for tag (fail if tags exists)
jobs:
  release:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    permissions:
      contents: write
    steps:
      - uses: dawidd6/action-download-artifact@v2
        with:
          workflow: rust.yml
      - id: version
        run: echo "VERSION='v$(lmi-ubuntu/lilypond-midi-input --version | grep -oP '[0-9]+\.[0-9]+\.[0-9]+$')'" >> $GITHUB_OUTPUT
      - name: Create CHANGELOG.latest file
        run: cp "$(ls -v changelog/* | tail -1)" CHANGELOG.latest
      - run: ls -l *
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ steps.version.outputs.VERSION }}
          body_path: CHANGELOG.latest
          files: lmi-ubuntu/lilypond-midi-input

